<footer class="grid grid-cols-3 grid-rows-1 gap-4 bg-[#0F1115]">
  <div class="flex items-center ml-10">
    <img src="../../../../assets/logo-ghost.svg" alt="Logo" class="h-24" />
  </div>
  <div class="flex justify-center items-end mb-5">
    <p class="text-sm text-primary">&copy; 2025 BCN. All rights reserved.</p>
  </div>
  <div class="flex justify-end p-5 mr-5">
    <div class="text-right space-y-5">
      <div>
        <p class="text-sm text-gray-300 font-medium">Síguenos:</p>
        <ul class="space-y-1 text-primary">
          <li class=" text-sm hover:underline">
            <i class="fa-brands fa-facebook"></i>
            Facebook
          </li>
          <li class="text-sm hover:underline">
            <i class="fa-brands fa-instagram"></i>
            Instagram
          </li>
          <li class="text-sm hover:underline">
            <i class="fa-brands fa-linkedin"></i>
            LinkedIn
          </li>
        </ul>
      </div>
      <div>
        <p class="text-sm text-gray-300 font-medium">Escríbenos:</p>
        <p class="text-sm text-primary hover:underline">
          <i class="fa-solid fa-inbox"></i>
          info&#64;bacan.pe
        </p>
      </div>
    </div>
  </div>
</footer>
